body{
    font-family: 'Poppins', sans-serif;
    margin: 0px; 
}
h1{
    font-size: 40px;
}.orange-color{
    color: orange;
}
section{
    display: flex;
   
}
.half-width{
    width: 100%;
    padding-left: 20px;
}
.half-width-img{
    width: 70px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    padding: 30px, 150px;
    color: white;
    font-weight: 900px;
    border-radius: 2px;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}